<div id="<%= dom_id storage %>">
  <p>
    <strong>Region:</strong>
    <%= storage.region_id %>
  </p>

  <p>
    <strong>Orientation:</strong>
    <%= storage.orientation %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= storage.name %>
  </p>

  <p>
    <strong>Section:</strong>
    <%= storage.section %>
  </p>

  <p>
    <strong>Region name:</strong>
    <%= storage.region_name %>
  </p>

</div>
